<ul>
       {% for module in page.collection() %}
           {% if not module.header.hidemenu %}
               {% set current_page = (module.active or module.activeChild) ? 'current' : '' %}
               <li>
                   <a class="active" href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a>
               </li>
           {% endif %}
       {% endfor %}
   </ul>
